body {
   margin: 0;
}
/* -----------------------------------------------------------Welcome Section--------------------------------------------------------------------------------- */
.welcome {
   background-image: url(./elements/puntitos.svg);
   height: fit-content;
}
.header {
   padding: 18px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
@media (min-width: 770px) {
   .header {
      padding: 35px 80px;
   }
}
.logo {
   height: 50px;
}
@media (min-width: 770px) {
   .logo {
      height: 100px;
   }
}
.burger {
   height: 36px;
   width: 36px;
}
@media (min-width: 770px) {
   .burger {
      width: 30%;
      min-width: 360px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.burger-insides {
   height: 6px;
   margin-bottom: 6px;
   background-color: black;
}
@media (min-width: 770px) {
   .burger-insides {
      display: none;
   }
}
.nav-link {
   display: none;
}
@media (min-width: 770px) {
   .nav-link {
      display: inline;
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-decoration: none;
      color: black;
   }
}
.welcome-container {
   padding: 0 30px;
}
@media (min-width: 770px) {
   .welcome-container {
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr;
   }
}
.welcome-title {
   font-family: "Open sans";
   font-size: 48px;
   text-align: center;
   margin: 1.5em 0;
}
@media (min-width: 770px) {
   .welcome-title {
      align-self: center;
   }
}
.welcome-selfie {
   width: 100%;
}
@media (min-width: 770px) {
   .welcome-selfie {
      height: 100%;
      grid-column-start: 3;
      align-self: flex-end;
   }
}
/* -----------------------------------------------------------About me Section--------------------------------------------------------------------------------- */
.about-me {
   background-color: #141414;
   padding: 30px;
   color: #fafafa;
   min-height: 60vmin;
   display: flex;
   flex-direction: column;
}
@media (min-width: 770px) {
   .about-me {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
   }
}
.about-title {
   margin: 40px;
   text-align: center;
   font-family: "Open sans";
   font-size: 32px;
}
@media (min-width: 770px) {
   .about-title {
      margin: 40px 0;
      text-align: start;
   }
}
.self-description {
   font-size: 16px;
   font-family: "Roboto", sans-serif;
}
@media (min-width: 770px) {
   .self-description {
      max-width: 90%;
      font-size: 24px;
   }
}
.check {
   margin: 40px auto;
}
@media (min-width: 770px) {
   .check {
      margin: 90px;
      height: 210px;
   }
}
/* -----------------------------------------------------------Services Section--------------------------------------------------------------------------------- */
.services {
   padding: 0px 50px;
   text-align: center;
}
@media (min-width: 770px) {
   .services {
      display: grid;
      grid-template: max-content 1fr / repeat(3, 1fr);
   }
}
.services-section-title {
   margin: 50px 0;
   font-family: "Open sans";
   font-size: 32px;
}
@media (min-width: 770px) {
   .services-section-title {
      grid-column: 2;
   }
}
.service-container {
   margin-bottom: 120px;
}
@media (min-width: 770px) {
   .service-container {
      grid-row-start: 2;
      max-width: 80%;
      align-self: center;
      justify-self: center;
   }
}
.service-description {
   font-size: 16px;
   font-family: "Roboto", sans-serif;
}
/* -----------------------------------------------------------Contact Section--------------------------------------------------------------------------------- */
.contact {
   background-color: #141414;
   color: white;
   padding: 70px 20px;
   text-align: center;
   justify-content: center;
}
@media (min-width: 770px) {
   .contact {
      display: flex;
      text-align: right;
   }
}
.form {
   text-align: start;
   max-width: 380px;
   margin: auto;
}
@media (min-width: 770px) {
   .form {
      margin: 0;
      min-width: 30vw;
      max-width: 50vw;
   }
}
.contact-title {
   font-family: "Open sans";
   font-size: 32px;
   margin: 0px auto 35px;
}
@media (min-width: 770px) {
   .contact-title {
      margin: 0 10vw;
   }
}
.input-area {
   width: 100%;
   min-height: 45px;
   margin-top: 10px;
   margin-bottom: 25px;
}
.input-text {
   font-size: 13px;
   font-family: "Roboto", sans-serif;
}
.Boton {
   background-color: #ffd953;
   width: 100%;
   height: 45px;
   margin: 70px auto 0;
}

/* -----------------------------------------------------------Footer Section--------------------------------------------------------------------------------- */
.footer {
   background-color: #dbdbdb;
   padding: 50px 16px;
}
@media (min-width: 770px) {
   .footer {
      background-color: #eee;
      background-image: url(./elements/puntitos.svg);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 100px 80px;
   }
}
.logo-container {
   display: flex;
   flex-direction: column;
   margin-bottom: 90px;
}
@media (min-width: 770px) {
   .logo-container {
      margin-bottom: 0;
      align-items: center;
   }
}
.footer-logo {
   height: 70px;
   width: 70px;
   margin-bottom: 5px;
}
@media (min-width: 770px) {
   .footer-logo {
      height: 100px;
      width: 100px;
      margin-bottom: 15px;
   }
}
.copy {
   font-size: 13px;
   font-family: "Roboto", sans-serif;
}
.social-link-container {
   display: flex;
   align-items: center;
   margin-bottom: 25px;
}
.social-logo {
   margin-right: 5px;
}
.social-link {
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   text-decoration: none;
   color: black;
}
